body{
    font-size: 20px;
}
.main{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
}
.cartao{
    display: grid;
    background-color: gray;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: auto;
    align-content: space-evenly;
    justify-items: center;
    background-image: url('/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.cartao__frente{
    background-color: plum;
    background-image: url('/images/bg-card-front.png');
    background-size: cover;
    display: grid;
    color: #ffffff;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    text-align: center;
    align-content: space-evenly;
}
.cartao__frente_dados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.validade_seguranca{
    display: grid;
    align-items: end;
    justify-content: space-around;
}
label{
    display: block;
}
small{
    color: #ffffff;
}
input{
    display: block;
}
.formulario_validade{
    display: grid;
}
.formulario__cartao-validade{
    display: flex;
    flex-direction: row;
}
.validade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cartap__verso{
    color: #ffffff;
    background-color: pink;
    display: grid;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    text-align: center;
    align-content: space-evenly;
}
.formulario{
    display: grid;
    justify-items: center;
    height: 200px;
    align-content: center;
    margin: auto;
}
.formulario__cartao_validacao_in{
    display: flex;
    flex-direction: row;
}
.formulario__cartao{
    display: grid;
    justify-items: center;
    height: 200px;
    align-content: space-evenly;
}
.formulario__erro{
    border-color: hsl(0, 100%, 74%);
    background-position-x: 95%;
    margin-bottom: 3px;
}
.mostrar_erro{
    color: hsl(0, 100%, 74%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}