body{
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
}
.main{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
}
.logo_cartao{
    margin-left: 30px;
}
.formulario{
    height: 1vh;

}
.cartao{
    display: grid;
    position: relative;
    background-color: gray;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: auto;
    align-content: space-evenly;
    justify-items: center;
    background-image: url('/assets/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.cartao__frente{
    background-color: plum;
    background-image: url('/assets/images/bg-card-front.png');
    background-size: cover;
    display: grid;
    color: #ffffff;
    position: absolute;
    top:180px;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    text-align: center;
    align-content: space-evenly;
    right: -100px;
    font-family: 'Space Grotesk', sans-serif;
}
.cartap__verso {
    color: #ffffff;
    font-family: 'Space Grotesk', sans-serif;
    background-color: pink;
    background-image: url('/assets/images/bg-card-back.png');
    display: grid;
    width: 447px;
    height: 245px;
    border-radius: 10px;
    text-align: center;
    align-content: space-evenly;
    position: absolute;
    top: 480px;
    right: -200px;
}
.cartao__frente_dados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.validade_seguranca{
    display: grid;
    align-items: end;
    justify-content: space-around;
}
.formulario label{
    display: block;
    padding: 10px;
}
h3{
    color: #ffffff;
}
.formulario input{
    display: block;
    width: 350px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
.formulario__cartao_validacao{
    display: flex;
}
input::placeholder{
    color: rgb(215, 215, 215);
}

.formulario_validade{
    display: grid;
}
.formulario__cartao-validade{
    display: flex;
    flex-direction: row;
}
.validade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formulario{
    display: grid;
    font-family: 'Space Grotesk', sans-serif;
    justify-items: center;
    height: 200px;
    align-content: center;
    margin: auto;
    position: absolute;
    left: 60%;
    top: 200px;
}
.form__confirm{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: auto;
    margin-top: 500px;

}
.formulario__cartao{
    display: grid;
    justify-items: center;
    height: 200px;
    align-content: space-evenly;
}
.formulario__erro{
    border-color: hsl(0, 100%, 74%);
    background-position-x: 95%;
    margin-bottom: 3px;
}
.mostrar_erro{
    color: hsl(0, 100%, 74%);
    margin: 10px;
}
.formulario__cartao_validacao_in{
    grid-template-areas: "AAAAAADDD" "BBBCCCEEE" "FFFFFFGGG";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}

.confirmacao_continue{
    display: none;
}
.form__confirm{
    display: block;
}
.formulario_invisivel{
    display: none;
}
.confirmacao_visivel{
    display: block;
}
